.div-1{
    background-color: tan;
    height: 200px;
    width: 300px;
    border-style: dashed dotted dashed dotted;
    border-color: white;
    border-width: 2px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 50px;
    margin-left: 20px;
}

.div-2{
    background-color: violet;
    height: 200px;
    width: 300px;
    border:  3px solid black;
    margin: 100px 150px 100px 80px;
}