*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navegador{
    background-color: rgb(233, 229, 229);
}

.navegador .cabecalho-navegador{
    display: flex;
    align-items: center;
    padding: 15px;
}

.navegador .cabecalho-navegador button{
    margin-left: auto;
    padding: 18px;
    border:2px solid rgba(0,0,0,.1);
    border-radius: 4px;
    cursor: pointer;
}

.navegador .menu-retratil{
    height: 0px;
    overflow: hidden;
    transition: height 600ms;
    position: absolute;
    background-color: rgb(233, 229, 229);
    width: 100%;  
}

.navegador .menu-retratil.active{
    height: 150px;
}

.navegador .menu-retratil a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.navegador .menu-retratil a:hover{
    background-color: rgb(218, 218, 217);
}

@media screen and(min-width: 768px){
    .navegador .cabecalho-navegador button{
        display: none;
    }
}