*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(67, 65, 65);
}

.container{
    background-color: rgba(242, 240, 240, 0.44);

    width: 900px;
    height: 100vh;

    margin: 0 auto;
}

.container nav{
    padding: 2px;
    display: flex;

    align-items: center;
}

.container nav span{
    font-size: 20px;
    font-weight: bolder;
}

.container nav .usuario{
    margin-left: auto;

    font-weight: normal;
}

.container .logo img{
    width: 60px;
}

.container .container-chat .inserir-group{
    margin-top: 450px;
    
}

.container .container-chat .button-group{
    background-color: rgb(122, 215, 243);
    padding: 10px;

    margin-top: 5px;
    border: none;
    border-radius: 5%;
    
}

.container .container-chat .list-group{
    margin: 10px;

    display: block;
    width: 300px;
}

.container .container-chat .list-group img{
    width: 30px;
}

.container .container-chat .chat{
    width: 600px;
    height: 100vh;

    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MODAL */

.overlay-modal{
    padding: 3px;
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;

    animation-name: aparecer;
    animation-duration: 500ms;
}

.overlay-modal.active{
    display: none;
}

.container .open-modal{
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    color: white;
    padding: 12px;
    background-color: #278bce;
}

.modal-container{
    background-color: white;
    margin: 0 auto;
    
    width: 50%;
    height: 256px;

    border-radius: 5px;
    position: relative;
    animation: cair 500ms;
}

.modal-container .modal-header{
    display: flex;
    padding: 10px;
    color: rgb(100, 98, 98);

    justify-content: center;
    align-items: center;
    border-bottom: solid 1px  rgba(0, 0, 0, 0.1);
}

.modal-container .modal-content{
    padding: 20px;

    width: 35%;
    margin: 0 auto;
}

.modal-container .modal-content input{
    padding: 5px;

    margin-top: 50px;
}

.modal-container .modal-footer{
    position: absolute;
    bottom: 0;

    left: 0;
    box-sizing: border-box;

    width: 100%;
    padding: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: flex-end;
}

.modal-container .modal-footer .botao-modal{
    border: none;
    border-radius: 3px;

    margin: 0 auto;
    width: 100px;

    color: white;
    padding: 9px;
}

.modal-container .modal-footer #botao-blue{
    background-color: #0062cc;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes cair{
    from{
        transform: translate(0px, -300px);
    }to{
        transform: translate(0px, 0px);
    }
}