*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(67, 65, 65);
}

.container{
    width: 900px;
    height: 100vh;

    margin: 0 auto;
}

.container nav{
    background-color: rgba(242, 240, 240, 0.44);

    padding: 2px;
    display: flex;

    align-items: center;
}

.container nav span{
    font-size: 20px;
    font-weight: bolder;
}

.container nav .usuario{
    margin-left: auto;
    padding: 20px;
    font-weight: normal;
}

.container .logo img{
    width: 60px;
}

.container .container-chat {
   margin-top: 0;
   width: 100px;

   height: 550px;
}
.container .container-chat .grupos{
    cursor: pointer;
}
.container .mensagens{
    background-image: url('../imagens/fundo.jpg');

    margin:0;
    height: 670px;
    background-color: rgba(242, 240, 240, 0.44);

    margin-left: auto;

	margin-top:-645px;
    border: 1px solid rgb(220, 216, 216);
        
    width: 680px;
}
.container .mensagens .mensagem{
    width: 50%;
    margin: 0 auto;
}
.container .mensagens .mensagem ul{
    list-style: none;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.container .mensagens .mensagem ul li{
    margin: 20px;
    height: 60px;
    padding: 10px;

    width: 300px;
    border-radius: 6%;
    background-color: white;
    align-content: center;
}

.container .mensagens .mensagem ul li span{
    margin-right: 200px;
}

.container .mensagens .mensagem ul li p{
    margin: 5px;
}

.container .adicionar-mensagem{
    position: relative;
    top: -90px;
    width: 50%;

    margin-left: 420px;
}
.container .adicionar-mensagem #mensagem{
    text-align: center;
    height: 30px;
    width: 300px;
}

.container .adicionar-mensagem button{
    padding: 4px;
    background-color: rgb(26, 133, 214);
    color: white;

    border: none;
    border-radius: 5%;
}
.container .container-chat .list-group{
    margin: 10px;

    display: block;
    width: 200px;
}

.container .container-chat .list-group img{
    width: 30px;
}

.container #form-novo-grupo{
    position: relative;

    top: 10px;
}

.container #form-novo-grupo input{
    text-align: center;
    margin: 3px;
    width: 200px;
    height: 30px;
}
.container #form-novo-grupo button{
    margin: 3px;
    margin-left: 150px;

    color: white;
    background-color: rgb(44, 143, 196);

    border: none;
    padding: 5px;
    border-radius: 4%;

    width: 50px;
    font-size: 15px;
    font-weight: bold;
}

/* MODAL */

.overlay-modal{
    padding: 3px;
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;

    animation-name: aparecer;
    animation-duration: 500ms;
}

.overlay-modal.active{
    display: none;
}

.container .open-modal{
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    color: white;
    padding: 12px;
    background-color: #278bce;
}

.modal-container{
    background-color: white;
    margin: 0 auto;
    
    width: 50%;
    height: 256px;

    border-radius: 5px;
    position: relative;
    animation: cair 500ms;
}

.modal-container .modal-header{
    display: flex;
    padding: 10px;
    color: rgb(100, 98, 98);

    justify-content: center;
    align-items: center;
    border-bottom: solid 1px  rgba(0, 0, 0, 0.1);
}

.modal-container .modal-content{
    padding: 20px;

    width: 25%;
    margin: 0 auto;
}

.modal-container .modal-content input{
    padding: 5px;

    margin-top: 50px;
}

.modal-container .modal-footer{
    position: absolute;
    bottom: 0;

    left: 0;
    box-sizing: border-box;

    width: 100%;
    padding: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: flex-end;
}

.modal-container .modal-footer .botao-modal{
    border: none;
    border-radius: 3px;

    margin: 0 auto;
    width: 100px;

    color: white;
    padding: 9px;
}

.modal-container .modal-footer #botao-blue{
    background-color: #0062cc;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes cair{
    from{
        transform: translate(0px, -300px);
    }to{
        transform: translate(0px, 0px);
    }
}