/*
    Estilização da fonte(font-family), 
    da distância entre conteúdo e bordas(padding)
    e da cor de fundo(background).
*/
body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background: #f7f4f4;
}
/*
    Estilização da distância entre conteúdo e bordas(padding),
    tamanho da fonte(font-size), alinhamento do texto(text-align),
    cor de fundo(background). 
*/
article{
    padding: 0px;
    font-size: 18px;
    text-align: center;
    background: rgb(214, 214, 206);
}
/*
    Estilização do alinhamento dos itens dentro da section(align-items)
    e definição da distribuição do espaço entre e ao redor dos itens 
    do conteúdo(justify-content).
*/
section{
    align-items: center;
    justify-content: center;

}
/*
    Estilização do texto entre a tag p, dentro da section. 
    Definição da altura da linha(line-height), 
    do alinhamento do texto(text-align) e das margens.
*/
section p{
    line-height: 20px;
    text-align: justify;
    margin: 20px 20px 20px 20px;
}
/*
    Estilização da altura da área do conteúdo dos elementos da imagem
    do header.
*/
header img{
    width: 20%;
}
/*
    Estilização da fonte(tamanho, estilo),
    tipo de listagem da lista da navegação(list-style-type),
    margens, da distância entre conteúdo e bordas(padding)
    e do corte de um elemento bloco(oveflow).
*/
nav ul {
    font: 16px arial, tahoma, verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*
    Estiliza a flexibilização do item da lista(float)
    e da margem.
*/
nav ul li {
    float: left;
    margin: 20px; 

}
/*
    Estiliza do tipo de caixa de renderização(display),
    a cor(color), alinhamento do texto(text-align), 
    distância entre conteúdo e bordas(padding), margens
    e sublinhamento dos links da navegação.
*/
nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 12px;
    margin: 0 1px;
    text-decoration: none;
}


/*
    Estilização da altura da área do conteúdo dos elementos do fieldseat,
    margem e das bordas.
*/
fieldset{
    width: 50%;
    margin: auto;
    border: 2px solid;
}
/*
    Estilização das margens das células td, das bordas 
    e das bordas arredondadas.
*/
table td{
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    border-radius: 1%;
}
/*
    Definição da margem da tabela da section
*/
section table{
    margin: auto;
}
/*
    Estilização do footer, definindo as propriedades de posicionamento,
    largura da área de contéudo(width), cor de fundo(background), cor dos elementos(color)
    e alinhamento do texto(text-align).
*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    color:black;
    text-align: center;
}

/*
    Estilização do cabeçalho, com relação à distância entre conteúdo e bordas(padding),
    tamanho da fonte(font-size), alinhamento do texto(text-align) e 
    a cor de fundo(background)
*/
#cabecalho{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background: rgb(214, 214, 206);
}
/*
    Estilização distância entre o conteúdo e bordas da classe artigos 
    e da margem.
*/
.artigos{
    padding: 20px;
    margin-top: 20px;
}

/*
    Estilização do h1 do cabeçalho com relação ao estilo da fonte.
*/
#cabecalho h1{
    font-family: FreeMono, monospace;
}

/*
    Estilização do botao_cadastro, definindo o tamanho da fonte(font-size),
    distância do conteúdo entre as bordas(padding), estilo da fonte(font-weight),
    e bordas.
*/
#botao_cadastro{
    font-size: 15px;
    padding:10px;
    font-weight: bold;
    border: 1px solid;
}
/*
    Estilização da largura da área do conteúdo e 
    da margem, do id sobre.
*/
#sobre{
    width: 200px;
    margin-left: 600px;
}
